<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/about.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="f-container">
        <div class="f-item style">
            <h1 style="text-align: center;">About us</h1>
        <p>My name is Abhijeet Ashokrao Depale. I have completed Bachelor of Science with CGPA-8.55 in 2023. I have recently completed full stack web development course.</p>
        <p>Enthusiastic web developer specialized in front-end and back-end technologies.
            My journey began with a passion for problem-solving and creativity in the digital area.
            I have develope a stock market website using front-end and back-end. In that I have use
            HTML, CSS JavaScript which is front-end technologies and one of the framework like Bootstrap.
            In back-end I have use Node.js, Express and API which is Google Finance API. API is use to provide 
            stock data for my website regarding to perticular stock which user search.
        </p>
        <p>
            Basically that is the full stack project that I have developed using major technologies.
        </p>
        <a href="/"><button class="mainButton">Home</button></a>
        <a href="./contact"><button class="mainButton">Contact</button></a> 
        <a href="./about"><button class="mainButton">About</button></a>
        </div>
    </div>
</body>
</html>